@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Teko:wght@700&display=swap");
body {
  color: #343434;
  background-color: #d3d3d3;
}

.section-dark {
  color: #FFF9C6;
  background-color: #353535;
}

.main-nav {
  color: #FFF9C6;
  background-color: #353535;
  box-shadow: 0 5px 5px #666;
}

.posts-archive {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
}
.posts-archive .post {
  flex-basis: 32%;
  padding: 5%;
  margin-bottom: 1%;
  background-color: #d3d3d3;
  box-sizing: border-box;
  box-shadow: 0 0 15px #111;
  transition: box-shadow 0.3s;
}
.posts-archive .post:hover, .posts-archive .post:focus-within {
  box-shadow: 0 0 15px #343434;
}
.posts-archive .post .post-title {
  font-size: 1.8em;
}

/*# sourceMappingURL=public.css.map */
