@import '../vars';

body {
    color: $text;
    background-color: $section;
}

.section-dark {
    color: $textLight;
    background-color: $sectionDark; 
}

.main-nav {
    color: $textLight;
    background-color: $sectionDark;
    box-shadow: 0 5px 5px #666;
}

.posts-archive {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;

    .post {
        flex-basis: 32%;
        padding: 5%;
        margin-bottom: 1%;
        background-color: $section;
        box-sizing: border-box;
        box-shadow: 0 0 15px #111;
        transition: box-shadow $transTime;

        &:hover, &:focus-within {
            box-shadow: 0 0 15px $text;
        }

        .post-title {
            font-size: 1.8em
        }
    }
}
