.form fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;;
    padding: 0;
    border: 0;

    .field-container {
        flex-basis: 100%;
        margin-bottom: 1%;
    }
    .field-container {
        &.field-width-50 {
            flex-basis: 49%;
        }
        &.field-width-30 {
            flex-basis: 30%;
        }
    }

    input, textarea {
        padding: 10px;
    }

    textarea {
        resize: none;
    }
}

.form-field-err {
    display: inline;
    color: #ff3a4c;
    border: 2px solid #ff3a4c;
    padding: 10px;
    border-radius: 5px;
    align-self: flex-start;
}

.field-container:not(.checkbox-field) {
    display: flex;
    flex-direction: column;
}