@use "sass:math";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: $textFont;
    font-weight: bold;
}

a {
    color: $primaryColor;
    text-decoration: none;
    transition: color $transTime;
    &:hover, &:focus, &:active {
        color: $secondaryColor;
    }
}

.main-nav {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: math.div($sectionPadding, 8) math.div($sectionPadding, 4);
    z-index: 999;

    #main-nav-logo {
        &::after {
            content: '|';
            margin: 0 1%;
        }
    }

    .main-nav-links-container {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;

        .main-nav-links-list {
            display: flex;
            gap: 5%;
            padding: 0;
            flex-grow: 1;
            list-style-type: none;
            &:last-of-type {
                justify-content: flex-end;
            }
        }
    }
}

.main-content-container {
    display: flex;
    flex-grow: 1;
}

.main-content-wrapper {
    flex-grow: 1;
    padding: $sectionPadding;
}

.button {
    font-family: $textFont;
    display: inline-block;
    padding: 10px;
    border: 2px solid $accent;
    border-radius: 5px;
    color: $accent;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all $transTime;
    &:hover, &.focus {
        color: $textLight;
        background-color: $accent;
    }
}

.footer {
    padding: math.div($sectionPadding, 8) math.div($sectionPadding, 4);
    background-color: $section;
}