@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Teko:wght@700&display=swap');

$primaryColor: #6b6bd4;
$secondaryColor: #a264ef;
$accent: #eb6eaa;

$text: #343434;
$textLight: #FFF9C6;

$section: #e8e8e8;
$sectionMed: #ababab;
$sectionDark: #353535; 

$adminSection: #444;
$adminSectionDark: #222;
$adminSectionLight: #666;

$sectionPadding: 4%;
$transTime: 0.3s;

$textFont: 'Bebas Neue', sans-serif;

@mixin flexbox($dir, $jst, $al) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jst;
    align-content: $al;
}