@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Teko:wght@700&display=swap");
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
}

a {
  color: #6b6bd4;
  text-decoration: none;
  transition: color 0.3s;
}
a:hover, a:focus, a:active {
  color: #a264ef;
}

.main-nav {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0.5% 1%;
  z-index: 999;
}
.main-nav #main-nav-logo::after {
  content: "|";
  margin: 0 1%;
}
.main-nav .main-nav-links-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.main-nav .main-nav-links-container .main-nav-links-list {
  display: flex;
  gap: 5%;
  padding: 0;
  flex-grow: 1;
  list-style-type: none;
}
.main-nav .main-nav-links-container .main-nav-links-list:last-of-type {
  justify-content: flex-end;
}

.main-content-container {
  display: flex;
  flex-grow: 1;
}

.main-content-wrapper {
  flex-grow: 1;
  padding: 4%;
}

.button {
  font-family: "Bebas Neue", sans-serif;
  display: inline-block;
  padding: 10px;
  border: 2px solid #eb6eaa;
  border-radius: 5px;
  color: #eb6eaa;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
}
.button:hover, .button.focus {
  color: #FFF9C6;
  background-color: #eb6eaa;
}

.footer {
  padding: 0.5% 1%;
  background-color: #e8e8e8;
}

.form fieldset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  border: 0;
}
.form fieldset .field-container {
  flex-basis: 100%;
  margin-bottom: 1%;
}
.form fieldset .field-container.field-width-50 {
  flex-basis: 49%;
}
.form fieldset .field-container.field-width-30 {
  flex-basis: 30%;
}
.form fieldset input, .form fieldset textarea {
  padding: 10px;
}
.form fieldset textarea {
  resize: none;
}

.form-field-err {
  display: inline;
  color: #ff3a4c;
  border: 2px solid #ff3a4c;
  padding: 10px;
  border-radius: 5px;
  align-self: flex-start;
}

.field-container:not(.checkbox-field) {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
