.admin-content-container {
    padding: $sectionPadding;
}

#admin-index-sidebar-navigation {
    width: 15%;
    background-color: $sectionDark;
    padding: $sectionPadding math.div($sectionPadding, 2);
    
    ul {
        padding: 0;
        list-style-type: none;
    }
}

.admin-index-content {
    flex-grow: 1;
}

.admin-sidebar-links-sub-list {
    display: none;
}

#admin-index-main-content-header {
    margin-bottom: 5%;
}
#admin-index-items-section {
    .admin-index-item {
        padding: math.div($sectionPadding, 2);
        margin-bottom: 1%;
        background-color: $sectionMed;
        .admin-index-item-heading {
            margin: 0;
        }
    }
}
