@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Teko:wght@700&display=swap");
.admin-content-container {
  padding: 4%;
}

#admin-index-sidebar-navigation {
  width: 15%;
  background-color: #353535;
  padding: 4% 2%;
}
#admin-index-sidebar-navigation ul {
  padding: 0;
  list-style-type: none;
}

.admin-index-content {
  flex-grow: 1;
}

.admin-sidebar-links-sub-list {
  display: none;
}

#admin-index-main-content-header {
  margin-bottom: 5%;
}

#admin-index-items-section .admin-index-item {
  padding: 2%;
  margin-bottom: 1%;
  background-color: #ababab;
}
#admin-index-items-section .admin-index-item .admin-index-item-heading {
  margin: 0;
}

body {
  color: #343434;
  background-color: #e8e8e8;
}

.main-nav {
  background-color: #222;
  box-shadow: 0 5px 5px #111;
}

.footer {
  background-color: #666;
}

.main-content-container {
  padding: 0;
}

/*# sourceMappingURL=admin.css.map */
