@use "sass:math";
@import '../vars';
@import 'index';

body {
    color: $text; 
    background-color: $section;
}

.main-nav {
    background-color: $adminSectionDark;
    box-shadow: 0 5px 5px #111;
}

.footer {
    background-color: $adminSectionLight;
}

.main-content-container {
    padding: 0;
}